.vscode/
venv/
Vosk/model/
мегафон.mp3
ссылки про обучение воска и калди.txt
test.py
Vosk/data.json
text-to-phonem test/G.txt
text-to-phonem test/input_file.txt
text-to-phonem test/lexicon.txt
SR/
audio_file test/
Vosk/__pycache__/
Vosk/vosk_timer.py
Vosk/file.wav